@charset "UTF-8"

@font-face {
    font-family: 'android';
    src: url('/fontes/idroid.otf') format(otf);
    font-weight: normal;
}

body {
    background-color: bisque;
    margin: 0px;
    font-family: 'android';

}

main {
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 1000px;
}

main p {
    text-align: justify;
}

header {
    background-color: green;
    padding: 10px;
}

header h1 {
    text-align: center;
    color: white;
}

header p {
    text-align: center;
    color: white;
}

nav {
    ;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

img {
    width: 100%;
}