@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Fredericka+the+Great&family=Kaushan+Script&family=Orbitron:wght@400..900&family=Special+Elite&display=swap');

body {
    background-color: #fffafa;
    padding: 0px;
    margin: 0px;
    position: relative;
}

header {
    text-align: center;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 80px;
}

header h1 {
    color: white;
    font-size: 3.5em;
    font-weight: bolder;
}

header p {
    color: white;
    font-size: 1.8em;
}

header a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

header abbr {
    text-decoration: none;
}

header a:hover {
    display: inline-block;
    color: rgb(191, 124, 17);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

main {
    margin: 30px;
}

main p {
    
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.8em;
    font-size: 2.5rem;
    font-weight: bold;
}

#img1 {
    width: 100%;
    margin-left: 0px;
    background-image: url('../imagens/passarinho.jpg');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    padding: 20px;
    margin-left: -30px;
    margin-bottom: 10px;
    
}

#img1 p {
    display: inline-block;
    background-color: rgba(20, 12, 12, 0.24);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: white;
    margin: auto;
    padding: 20px;
    
}

#img2 {
    background-image: url('../imagens/caatinha1.jpeg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    margin: auto;
}

#img2 p {
    display: inline-block;
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px;
    background-color: rgba(27, 26, 26, 0.384);
    color: white;
    margin: auto;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 1px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}