@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    line-height: 1.3em;
}

header, .normal {
    background-color: white;
    padding: 20px;
}

h1, p, h2 {
    margin-bottom: 10px;
}
section.flex-content {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

article.foto-texto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.foto-texto .foto {
    flex: 1 0 400px;

}

.foto-texto .foto img {
    display: block;
    margin: auto;
}


article.foto-texto .texto {
    flex: 1 1 500px;
}

article.texto-video {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
}

article.texto-video iframe {
    display: block;
    margin: auto;
}

.texto-video .texto {
    flex: 1 1 500px;
}

.texto-video .video {
    flex: 1 0 400px;
}